.version.news7 /* version checker */
{
	color: #0000EB;
	background-color: #FA080E;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1761.9999999999998px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;/* should not cover content below */
}

#u70435
{
	z-index: 2;
	height: 300px;
	background-color: #FEAB32;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u70435-bw
{
	z-index: 2;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
}

#u70437
{
	z-index: 47;
	width: 1000px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	left: -20px;
	position: relative;
}

#slideshowu70667
{
	z-index: 48;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 100px;
}

#u70668popup
{
	z-index: 49;
}

#u70669
{
	z-index: 50;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70671
{
	z-index: 52;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#slideshowu71293
{
	z-index: 54;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 100px;
}

#u71336popup
{
	z-index: 55;
}

#u71357
{
	z-index: 56;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71341
{
	z-index: 58;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71351
{
	z-index: 60;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71355
{
	z-index: 62;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71353
{
	z-index: 64;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71337
{
	z-index: 66;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71347
{
	z-index: 68;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71339
{
	z-index: 70;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71349
{
	z-index: 72;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71343
{
	z-index: 74;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71345
{
	z-index: 76;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu71185
{
	z-index: 78;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
}

#u71191popup
{
	z-index: 79;
}

#u71192
{
	z-index: 80;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71194
{
	z-index: 82;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu71206
{
	z-index: 84;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
}

#u71210popup
{
	z-index: 85;
}

#u71215
{
	z-index: 86;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71219
{
	z-index: 88;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71217
{
	z-index: 90;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71221
{
	z-index: 92;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71231
{
	z-index: 94;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71211
{
	z-index: 96;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71213
{
	z-index: 98;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71229
{
	z-index: 100;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71223
{
	z-index: 102;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71225
{
	z-index: 104;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71227
{
	z-index: 106;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu71420
{
	z-index: 108;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 200px;
}

#u71427popup
{
	z-index: 109;
}

#u71430
{
	z-index: 110;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71428
{
	z-index: 112;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu70688
{
	z-index: 114;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 200px;
}

#u70701popup
{
	z-index: 115;
}

#u70702
{
	z-index: 116;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70704
{
	z-index: 118;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu71143
{
	z-index: 120;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u71149popup
{
	z-index: 121;
}

#u71150
{
	z-index: 122;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71152
{
	z-index: 124;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu71122
{
	z-index: 126;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	left: 200px;
}

#u71127popup
{
	z-index: 127;
}

#u71130
{
	z-index: 128;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71128
{
	z-index: 130;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu70709
{
	z-index: 132;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
}

#u70724popup
{
	z-index: 133;
}

#u70727
{
	z-index: 134;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70725
{
	z-index: 136;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu70904
{
	z-index: 138;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 400px;
}

#u70908popup
{
	z-index: 139;
}

#u70911
{
	z-index: 140;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70909
{
	z-index: 142;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu71040
{
	z-index: 144;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 400px;
}

#u71042popup
{
	z-index: 145;
}

#u71045
{
	z-index: 146;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71043
{
	z-index: 148;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu70580
{
	z-index: 150;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 300px;
}

#u70590popup
{
	z-index: 151;
}

#u70591
{
	z-index: 152;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70593
{
	z-index: 154;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu71164
{
	z-index: 156;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 300px;
}

#u71180popup
{
	z-index: 157;
}

#u71181
{
	z-index: 158;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71183
{
	z-index: 160;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu70967
{
	z-index: 162;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 500px;
}

#u70983popup
{
	z-index: 163;
}

#u70984
{
	z-index: 164;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70986
{
	z-index: 166;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu70751
{
	z-index: 168;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 500px;
}

#u70753popup
{
	z-index: 169;
}

#u70762
{
	z-index: 170;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70768
{
	z-index: 172;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70760
{
	z-index: 174;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70770
{
	z-index: 176;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70764
{
	z-index: 178;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70758
{
	z-index: 180;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70766
{
	z-index: 182;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70754
{
	z-index: 184;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70756
{
	z-index: 186;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70772
{
	z-index: 188;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu71441
{
	z-index: 190;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	left: 400px;
}

#u71451popup
{
	z-index: 191;
}

#u71452
{
	z-index: 192;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71454
{
	z-index: 194;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu70509
{
	z-index: 196;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	left: 500px;
}

#u70512popup
{
	z-index: 197;
}

#u70531
{
	z-index: 198;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70521
{
	z-index: 200;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70517
{
	z-index: 202;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70519
{
	z-index: 204;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70533
{
	z-index: 206;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70535
{
	z-index: 208;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70513
{
	z-index: 210;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70523
{
	z-index: 212;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70525
{
	z-index: 214;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70515
{
	z-index: 216;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70529
{
	z-index: 218;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70527
{
	z-index: 220;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu70438
{
	z-index: 222;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	left: 300px;
}

#u70484popup
{
	z-index: 223;
}

#u70505
{
	z-index: 224;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70485
{
	z-index: 226;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70503
{
	z-index: 228;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70487
{
	z-index: 230;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70497
{
	z-index: 232;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70489
{
	z-index: 234;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70507
{
	z-index: 236;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70493
{
	z-index: 238;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70501
{
	z-index: 240;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70499
{
	z-index: 242;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70495
{
	z-index: 244;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70491
{
	z-index: 246;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu70601
{
	z-index: 248;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 700px;
}

#u70602popup
{
	z-index: 249;
}

#u70617
{
	z-index: 250;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70613
{
	z-index: 252;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70603
{
	z-index: 254;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70615
{
	z-index: 256;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70619
{
	z-index: 258;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70605
{
	z-index: 260;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70611
{
	z-index: 262;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70621
{
	z-index: 264;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70609
{
	z-index: 266;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70623
{
	z-index: 268;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70607
{
	z-index: 270;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu70925
{
	z-index: 272;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 700px;
}

#u70933popup
{
	z-index: 273;
}

#u70936
{
	z-index: 274;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70934
{
	z-index: 276;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu70946
{
	z-index: 278;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 600px;
}

#u70952popup
{
	z-index: 279;
}

#u70955
{
	z-index: 280;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70953
{
	z-index: 282;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu70812
{
	z-index: 284;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 600px;
}

#u70828popup
{
	z-index: 285;
}

#u70829
{
	z-index: 286;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70831
{
	z-index: 288;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu70833
{
	z-index: 290;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 800px;
}

#u70847popup
{
	z-index: 291;
}

#u70870
{
	z-index: 292;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70852
{
	z-index: 294;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70858
{
	z-index: 296;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70854
{
	z-index: 298;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70866
{
	z-index: 300;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70860
{
	z-index: 302;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70848
{
	z-index: 304;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70856
{
	z-index: 306;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70862
{
	z-index: 308;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70850
{
	z-index: 310;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70864
{
	z-index: 312;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70868
{
	z-index: 314;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu71272
{
	z-index: 316;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 800px;
}

#u71275popup
{
	z-index: 317;
}

#u71278
{
	z-index: 318;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71276
{
	z-index: 320;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu71462
{
	z-index: 322;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	left: 700px;
}

#u71484popup
{
	z-index: 323;
}

#u71489
{
	z-index: 324;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71485
{
	z-index: 326;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71491
{
	z-index: 328;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71487
{
	z-index: 330;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu71359
{
	z-index: 332;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	left: 800px;
}

#u71398popup
{
	z-index: 333;
}

#u71403
{
	z-index: 334;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71417
{
	z-index: 336;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71407
{
	z-index: 338;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71415
{
	z-index: 340;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71401
{
	z-index: 342;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71405
{
	z-index: 344;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71413
{
	z-index: 346;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71411
{
	z-index: 348;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71409
{
	z-index: 350;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71399
{
	z-index: 352;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu71061
{
	z-index: 354;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	left: 600px;
}

#u71083popup
{
	z-index: 355;
}

#u71088
{
	z-index: 356;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71098
{
	z-index: 358;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71092
{
	z-index: 360;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71096
{
	z-index: 362;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71100
{
	z-index: 364;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71090
{
	z-index: 366;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71102
{
	z-index: 368;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71084
{
	z-index: 370;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71086
{
	z-index: 372;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71094
{
	z-index: 374;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu70988
{
	z-index: 376;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 900px;
}

#u71001popup
{
	z-index: 377;
}

#u71002
{
	z-index: 378;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71004
{
	z-index: 380;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu70730
{
	z-index: 382;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 900px;
}

#u70741popup
{
	z-index: 383;
}

#u70742
{
	z-index: 384;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70744
{
	z-index: 386;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu71009
{
	z-index: 388;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	left: 900px;
}

#u70668,#u71336,#u71191,#u71210,#u71427,#u70701,#u71149,#u71127,#u70724,#u70908,#u71042,#u70590,#u71180,#u70983,#u70753,#u71451,#u70512,#u70484,#u70602,#u70933,#u70952,#u70828,#u70847,#u71275,#u71484,#u71398,#u71083,#u71001,#u70741,#u71022
{
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: transparent;
}

#u71022popup
{
	z-index: 389;
}

#u71027
{
	z-index: 390;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71023
{
	z-index: 392;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71029
{
	z-index: 394;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u71025
{
	z-index: 396;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u70436
{
	z-index: 416;
	height: 41px;
	background-color: #F7931E;
}

#u70436:hover
{
	background-color: #F7931E;
	height: 41px;
	min-height: 0px;
	margin: 0px;
}

#u70436-bw
{
	z-index: 416;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 300px;
}

#menuu129550
{
	z-index: 417;
	width: 487px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 300px;
	left: 237px;
}

#u129558
{
	width: 92px;
	min-height: 41px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u129559
{
	width: 92px;
	background-color: #F7931E;
	padding-bottom: 24px;
	position: relative;
}

#u129559:hover
{
	background-color: #F7841E;
	width: 92px;
	min-height: 0px;
	margin: 0px;
}

#u129559:active
{
	background-color: #8C6239;
	width: 92px;
	min-height: 0px;
	margin: 0px;
}

#u129559.MuseMenuActive
{
	background-color: #8C6239;
	width: 92px;
	min-height: 0px;
	margin: 0px;
}

#u129561-4_clip
{
	overflow: hidden;
	width: 65px;
	height: 17px;
	vertical-align: top;
}

#u129565
{
	width: 78px;
	min-height: 41px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 94px;
}

#u129568
{
	width: 78px;
	background-color: #F7931E;
	padding-bottom: 22px;
	position: relative;
}

#u129568:hover
{
	background-color: #F7841E;
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u129568:active
{
	background-color: #8C6239;
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u129568.MuseMenuActive
{
	background-color: #8C6239;
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u129569-4
{
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 13px;
}

#u129569-4_clip
{
	overflow: hidden;
	width: 51px;
	height: 19px;
	vertical-align: top;
}

#u129579
{
	width: 120px;
	min-height: 41px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 174px;
}

#u129582
{
	width: 120px;
	background-color: #F7931E;
	padding-bottom: 24px;
	position: relative;
}

#u129582:hover
{
	background-color: #F7841E;
	width: 120px;
	min-height: 0px;
	margin: 0px;
}

#u129582:active
{
	background-color: #8C6239;
	width: 120px;
	min-height: 0px;
	margin: 0px;
}

#u129582.MuseMenuActive
{
	background-color: #8C6239;
	width: 120px;
	min-height: 0px;
	margin: 0px;
}

#u129583-4_clip
{
	overflow: hidden;
	width: 93px;
	height: 17px;
	vertical-align: top;
}

#u129572
{
	width: 96px;
	min-height: 41px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 296px;
}

#u129573
{
	width: 96px;
	background-color: #F7931E;
	padding-bottom: 24px;
	position: relative;
}

#u129573:hover
{
	background-color: #F7841E;
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u129573:active
{
	background-color: #8C6239;
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u129575-4_clip
{
	overflow: hidden;
	width: 70px;
	height: 17px;
	vertical-align: top;
}

#u129551
{
	width: 93px;
	min-height: 41px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 394px;
}

#u129552
{
	width: 93px;
	background-color: #F7931E;
	padding-bottom: 24px;
	position: relative;
}

#u129552:hover
{
	background-color: #F7841E;
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u129552:active
{
	background-color: #8C6239;
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u129561-4,#u129583-4,#u129575-4,#u129553-4
{
	position: relative;
	margin-right: -10000px;
	top: 12px;
	left: 13px;
}

#u129553-4_clip
{
	overflow: hidden;
	width: 67px;
	height: 17px;
	vertical-align: top;
}

#u129561-4_img,#u129569-4_img,#u129583-4_img,#u129575-4_img,#u129553-4_img
{
	display: block;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.MenuItem /* slideshowFreeStyle */
{
	cursor: pointer;
}

#pu70369
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 41px;
}

#u70369
{
	z-index: 3;
	min-height: 1420.65px;
	background-color: #FFFFFF;
	padding-bottom: 0px;
}

#u70369_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
	padding-top: 19px;
	padding-bottom: 147px;
}

#u71495-6
{
	z-index: 403;
	left: 120px;
	position: relative;
}

#u70434-4
{
	z-index: 4;
	display: block;
	vertical-align: top;
	left: 289px;
	margin-top: 74px;
	position: relative;
}

#u83531-4
{
	z-index: 412;
	width: 150px;
	min-height: 25px;
	background-color: transparent;
	color: #7F7F7F;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	left: 890px;
	margin-top: 62px;
	position: relative;
}

#u70366-26
{
	z-index: 21;
	display: block;
	vertical-align: top;
	left: 120px;
	margin-top: 21px;
	position: relative;
}

#u70367-4
{
	z-index: 399;
	display: block;
	vertical-align: top;
	left: 338px;
	margin-top: 3px;
	position: relative;
}

#u70368
{
	z-index: 398;
	width: 300px;
	min-height: 58px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	left: 430px;
	margin-top: 4px;
	position: relative;
}

#u70369-bw
{
	z-index: 3;
	min-height: 1420.65px;
}

#u75506
{
	z-index: 410;
	height: 29px;
	width: 232px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 1086px;
	left: 464px;
	background: url("../images/u75506.png") no-repeat 0px 0px;
}

#u75506:hover
{
	background: url("../images/u75506-r.png") no-repeat 0px 0px;
}

#u96525
{
	z-index: 8;
	width: 382px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 289px;
	top: -113px;
	margin-bottom: -70px;
	position: relative;
}

#u71493
{
	z-index: 19;
	width: 71px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
}

#u71496-10
{
	z-index: 9;
	position: relative;
	width: 298px;
	margin-right: -10000px;
	left: 84px;
}

#u71495-6_img,#u71496-10_img
{
	display: block;
	vertical-align: top;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

