.version.news4 /* version checker */
{
	color: #0000EB;
	background-color: #EBF1AA;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 800px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;/* should not cover content below */
}

#u44666
{
	z-index: 2;
	height: 300px;
	background-color: #FEAB32;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u44666-bw
{
	z-index: 2;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
}

#u42716
{
	z-index: 61;
	width: 1000px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	left: -20px;
	position: relative;
}

#slideshowu43370
{
	z-index: 62;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 100px;
}

#u43371popup
{
	z-index: 63;
}

#u43374
{
	z-index: 64;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43372
{
	z-index: 66;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#slideshowu42759
{
	z-index: 68;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 100px;
}

#u42785popup
{
	z-index: 69;
}

#u42798
{
	z-index: 70;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u42800
{
	z-index: 72;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u42792
{
	z-index: 74;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u42790
{
	z-index: 76;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u42788
{
	z-index: 78;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u42794
{
	z-index: 80;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u42802
{
	z-index: 82;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u42804
{
	z-index: 84;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u42806
{
	z-index: 86;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u42796
{
	z-index: 88;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u42786
{
	z-index: 90;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu43452
{
	z-index: 92;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
}

#u43462popup
{
	z-index: 93;
}

#u43463
{
	z-index: 94;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43465
{
	z-index: 96;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu43067
{
	z-index: 98;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
}

#u43068popup
{
	z-index: 99;
}

#u43069
{
	z-index: 100;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43087
{
	z-index: 102;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43079
{
	z-index: 104;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43075
{
	z-index: 106;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43085
{
	z-index: 108;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43089
{
	z-index: 110;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43083
{
	z-index: 112;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43081
{
	z-index: 114;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43071
{
	z-index: 116;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43077
{
	z-index: 118;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43073
{
	z-index: 120;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu43328
{
	z-index: 122;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 200px;
}

#u43344popup
{
	z-index: 123;
}

#u43347
{
	z-index: 124;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43345
{
	z-index: 126;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu42867
{
	z-index: 128;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 200px;
}

#u42882popup
{
	z-index: 129;
}

#u42885
{
	z-index: 130;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u42883
{
	z-index: 132;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu43246
{
	z-index: 134;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u43260popup
{
	z-index: 135;
}

#u43261
{
	z-index: 136;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43263
{
	z-index: 138;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu43046
{
	z-index: 140;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	left: 200px;
}

#u43058popup
{
	z-index: 141;
}

#u43059
{
	z-index: 142;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43061
{
	z-index: 144;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu43678
{
	z-index: 146;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
}

#u43680popup
{
	z-index: 147;
}

#u43681
{
	z-index: 148;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43683
{
	z-index: 150;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu43657
{
	z-index: 152;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 400px;
}

#u43667popup
{
	z-index: 153;
}

#u43668
{
	z-index: 154;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43670
{
	z-index: 156;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu43720
{
	z-index: 158;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 400px;
}

#u43727popup
{
	z-index: 159;
}

#u43728
{
	z-index: 160;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43730
{
	z-index: 162;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu42825
{
	z-index: 164;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 300px;
}

#u42826popup
{
	z-index: 165;
}

#u42827
{
	z-index: 166;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u42829
{
	z-index: 168;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu43133
{
	z-index: 170;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 300px;
}

#u43140popup
{
	z-index: 171;
}

#u43141
{
	z-index: 172;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43143
{
	z-index: 174;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu42738
{
	z-index: 176;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 500px;
}

#u42750popup
{
	z-index: 177;
}

#u42753
{
	z-index: 178;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u42751
{
	z-index: 180;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu43267
{
	z-index: 182;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 500px;
}

#u43269popup
{
	z-index: 183;
}

#u43274
{
	z-index: 184;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43286
{
	z-index: 186;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43284
{
	z-index: 188;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43278
{
	z-index: 190;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43282
{
	z-index: 192;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43276
{
	z-index: 194;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43280
{
	z-index: 196;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43288
{
	z-index: 198;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43270
{
	z-index: 200;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43272
{
	z-index: 202;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu43154
{
	z-index: 204;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	left: 400px;
}

#u43168popup
{
	z-index: 205;
}

#u43171
{
	z-index: 206;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43169
{
	z-index: 208;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu43544
{
	z-index: 210;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	left: 500px;
}

#u43574popup
{
	z-index: 211;
}

#u43583
{
	z-index: 212;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43585
{
	z-index: 214;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43587
{
	z-index: 216;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43581
{
	z-index: 218;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43597
{
	z-index: 220;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43595
{
	z-index: 222;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43575
{
	z-index: 224;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43589
{
	z-index: 226;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43591
{
	z-index: 228;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43579
{
	z-index: 230;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43593
{
	z-index: 232;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43577
{
	z-index: 234;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu43175
{
	z-index: 236;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	left: 300px;
}

#u43206popup
{
	z-index: 237;
}

#u43229
{
	z-index: 238;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43211
{
	z-index: 240;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43227
{
	z-index: 242;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43223
{
	z-index: 244;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43217
{
	z-index: 246;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43213
{
	z-index: 248;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43207
{
	z-index: 250;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43215
{
	z-index: 252;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43219
{
	z-index: 254;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43209
{
	z-index: 256;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43221
{
	z-index: 258;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43225
{
	z-index: 260;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu42919
{
	z-index: 262;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 700px;
}

#u42935popup
{
	z-index: 263;
}

#u42938
{
	z-index: 264;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u42946
{
	z-index: 266;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u42948
{
	z-index: 268;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u42944
{
	z-index: 270;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u42950
{
	z-index: 272;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u42936
{
	z-index: 274;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u42954
{
	z-index: 276;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u42940
{
	z-index: 278;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u42952
{
	z-index: 280;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u42956
{
	z-index: 282;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u42942
{
	z-index: 284;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu43349
{
	z-index: 286;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 700px;
}

#u43365popup
{
	z-index: 287;
}

#u43368
{
	z-index: 288;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43366
{
	z-index: 290;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu43636
{
	z-index: 292;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 600px;
}

#u43649popup
{
	z-index: 293;
}

#u43652
{
	z-index: 294;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43650
{
	z-index: 296;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu43615
{
	z-index: 298;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 600px;
}

#u43626popup
{
	z-index: 299;
}

#u43629
{
	z-index: 300;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43627
{
	z-index: 302;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu43473
{
	z-index: 304;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 800px;
}

#u43478popup
{
	z-index: 305;
}

#u43483
{
	z-index: 306;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43501
{
	z-index: 308;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43487
{
	z-index: 310;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43479
{
	z-index: 312;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43499
{
	z-index: 314;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43493
{
	z-index: 316;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43485
{
	z-index: 318;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43495
{
	z-index: 320;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43489
{
	z-index: 322;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43491
{
	z-index: 324;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43497
{
	z-index: 326;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43481
{
	z-index: 328;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu43699
{
	z-index: 330;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 800px;
}

#u43705popup
{
	z-index: 331;
}

#u43706
{
	z-index: 332;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43708
{
	z-index: 334;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu43741
{
	z-index: 336;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	left: 700px;
}

#u43763popup
{
	z-index: 337;
}

#u43764
{
	z-index: 338;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43770
{
	z-index: 340;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43766
{
	z-index: 342;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43768
{
	z-index: 344;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu43391
{
	z-index: 346;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	left: 800px;
}

#u43430popup
{
	z-index: 347;
}

#u43437
{
	z-index: 348;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43439
{
	z-index: 350;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43431
{
	z-index: 352;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43443
{
	z-index: 354;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43433
{
	z-index: 356;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43447
{
	z-index: 358;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43445
{
	z-index: 360;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43435
{
	z-index: 362;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43441
{
	z-index: 364;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43449
{
	z-index: 366;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu42985
{
	z-index: 368;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	left: 600px;
}

#u43021popup
{
	z-index: 369;
}

#u43032
{
	z-index: 370;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43026
{
	z-index: 372;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43040
{
	z-index: 374;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43038
{
	z-index: 376;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43030
{
	z-index: 378;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43034
{
	z-index: 380;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43022
{
	z-index: 382;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43036
{
	z-index: 384;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43028
{
	z-index: 386;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43024
{
	z-index: 388;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu42846
{
	z-index: 390;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 900px;
}

#u42847popup
{
	z-index: 391;
}

#u42848
{
	z-index: 392;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u42850
{
	z-index: 394;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu42717
{
	z-index: 396;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 900px;
}

#u42721popup
{
	z-index: 397;
}

#u42722
{
	z-index: 398;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u42724
{
	z-index: 400;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu42888
{
	z-index: 402;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	left: 900px;
}

#u43371,#u42785,#u43462,#u43068,#u43344,#u42882,#u43260,#u43058,#u43680,#u43667,#u43727,#u42826,#u43140,#u42750,#u43269,#u43168,#u43574,#u43206,#u42935,#u43365,#u43649,#u43626,#u43478,#u43705,#u43763,#u43430,#u43021,#u42847,#u42721,#u42899
{
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: transparent;
}

#u42899popup
{
	z-index: 403;
}

#u42906
{
	z-index: 404;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u42900
{
	z-index: 406;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u42902
{
	z-index: 408;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u42904
{
	z-index: 410;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u43827
{
	z-index: 433;
	height: 41px;
	background-color: #F7931E;
}

#u43827:hover
{
	background-color: #F7931E;
	height: 41px;
	min-height: 0px;
	margin: 0px;
}

#u43827-bw
{
	z-index: 433;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 300px;
}

#menuu79506
{
	z-index: 434;
	width: 855px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 300px;
	left: 53px;
}

#u79521
{
	width: 167px;
	min-height: 41px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u79524
{
	width: 167px;
	background-color: #F7931E;
	padding-bottom: 24px;
	position: relative;
}

#u79524:hover
{
	background-color: #F7841E;
	width: 167px;
	min-height: 0px;
	margin: 0px;
}

#u79524:active
{
	background-color: #8C6239;
	width: 167px;
	min-height: 0px;
	margin: 0px;
}

#u79524.MuseMenuActive
{
	background-color: #8C6239;
	width: 167px;
	min-height: 0px;
	margin: 0px;
}

#u79527-4_clip
{
	overflow: hidden;
	width: 140px;
	height: 17px;
	vertical-align: top;
}

#u79507
{
	width: 78px;
	min-height: 41px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 169px;
}

#u79510
{
	width: 78px;
	background-color: #F7931E;
	padding-bottom: 22px;
	position: relative;
}

#u79510:hover
{
	background-color: #F7841E;
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u79510:active
{
	background-color: #8C6239;
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u79510.MuseMenuActive
{
	background-color: #8C6239;
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u79513-4
{
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 13px;
}

#u79513-4_clip
{
	overflow: hidden;
	width: 51px;
	height: 19px;
	vertical-align: top;
}

#u79556
{
	width: 92px;
	min-height: 41px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 249px;
}

#u79559
{
	width: 92px;
	background-color: #F7931E;
	padding-bottom: 24px;
	position: relative;
}

#u79559:hover
{
	background-color: #F7841E;
	width: 92px;
	min-height: 0px;
	margin: 0px;
}

#u79559:active
{
	background-color: #8C6239;
	width: 92px;
	min-height: 0px;
	margin: 0px;
}

#u79559.MuseMenuActive
{
	background-color: #8C6239;
	width: 92px;
	min-height: 0px;
	margin: 0px;
}

#u79562-4_clip
{
	overflow: hidden;
	width: 65px;
	height: 17px;
	vertical-align: top;
}

#u79542
{
	width: 136px;
	min-height: 41px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 343px;
}

#u79543
{
	width: 136px;
	background-color: #F7931E;
	padding-bottom: 23px;
	position: relative;
}

#u79543:hover
{
	background-color: #F7841E;
	width: 136px;
	min-height: 0px;
	margin: 0px;
}

#u79543:active
{
	background-color: #8C6239;
	width: 136px;
	min-height: 0px;
	margin: 0px;
}

#u79543.MuseMenuActive
{
	background-color: #8C6239;
	width: 136px;
	min-height: 0px;
	margin: 0px;
}

#u79545-4
{
	position: relative;
	margin-right: -10000px;
	top: 11px;
	left: 13px;
}

#u79545-4_clip
{
	overflow: hidden;
	width: 109px;
	height: 18px;
	vertical-align: top;
}

#u79514
{
	width: 113px;
	min-height: 41px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 481px;
}

#u79517
{
	width: 113px;
	background-color: #F7931E;
	padding-bottom: 24px;
	position: relative;
}

#u79517:hover
{
	background-color: #F7841E;
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u79517:active
{
	background-color: #8C6239;
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u79517.MuseMenuActive
{
	background-color: #8C6239;
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u79518-4_clip
{
	overflow: hidden;
	width: 86px;
	height: 17px;
	vertical-align: top;
}

#u79528
{
	width: 66px;
	min-height: 41px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 596px;
}

#u79531
{
	width: 66px;
	background-color: #F7931E;
	padding-bottom: 24px;
	position: relative;
}

#u79531:hover
{
	background-color: #F7841E;
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u79531:active
{
	background-color: #8C6239;
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u79531.MuseMenuActive
{
	background-color: #8C6239;
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u79532-4_clip
{
	overflow: hidden;
	width: 39px;
	height: 17px;
	vertical-align: top;
}

#u79563
{
	width: 96px;
	min-height: 41px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 664px;
}

#u79566
{
	width: 96px;
	background-color: #F7931E;
	padding-bottom: 24px;
	position: relative;
}

#u79566:hover
{
	background-color: #F7841E;
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u79566:active
{
	background-color: #8C6239;
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u79567-4_clip
{
	overflow: hidden;
	width: 70px;
	height: 17px;
	vertical-align: top;
}

#u79535
{
	width: 93px;
	min-height: 41px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 762px;
}

#u79536
{
	width: 93px;
	background-color: #F7931E;
	padding-bottom: 24px;
	position: relative;
}

#u79536:hover
{
	background-color: #F7841E;
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u79536:active
{
	background-color: #8C6239;
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u79527-4,#u79562-4,#u79518-4,#u79532-4,#u79567-4,#u79538-4
{
	position: relative;
	margin-right: -10000px;
	top: 12px;
	left: 13px;
}

#u79538-4_clip
{
	overflow: hidden;
	width: 67px;
	height: 17px;
	vertical-align: top;
}

#u79527-4_img,#u79513-4_img,#u79562-4_img,#u79545-4_img,#u79518-4_img,#u79532-4_img,#u79567-4_img,#u79538-4_img
{
	display: block;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.MenuItem /* slideshowFreeStyle */
{
	cursor: pointer;
}

#pu43826
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 41px;
}

#u43826
{
	z-index: 3;
	min-height: 1664.9500000000005px;
	background-color: #FFFFFF;
	padding-bottom: 0px;
}

#u43826_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
	padding-top: 19px;
	padding-bottom: 53px;
}

#u65005-6
{
	z-index: 423;
	left: 120px;
	position: relative;
}

#u42714-4
{
	z-index: 16;
	display: block;
	vertical-align: top;
	left: 289px;
	margin-top: 73px;
	position: relative;
}

#u83522-4
{
	z-index: 429;
	width: 150px;
	min-height: 25px;
	background-color: transparent;
	color: #7F7F7F;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	left: 890px;
	margin-top: 62px;
	position: relative;
}

#u42715-41
{
	z-index: 20;
	display: block;
	vertical-align: top;
	left: 120px;
	margin-top: 21px;
	position: relative;
}

#u44664-4
{
	z-index: 419;
	display: block;
	vertical-align: top;
	left: 334px;
	margin-top: 156px;
	position: relative;
}

#u44662
{
	z-index: 418;
	width: 300px;
	min-height: 58px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	left: 426px;
	margin-top: 4px;
	position: relative;
}

#pu43824
{
	width: 0.01px;
	left: 389px;
	margin-top: 115px;
	position: relative;
}

#u43824
{
	z-index: 14;
	width: 71px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
}

#u43823-10
{
	z-index: 4;
	position: relative;
	width: 298px;
	margin-right: -10000px;
	left: 84px;
}

#u65005-6_img,#u43823-10_img
{
	display: block;
	vertical-align: top;
}

#u43826-bw
{
	z-index: 3;
	min-height: 1664.9500000000005px;
}

#u44594
{
	z-index: 413;
	width: 209px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 1193px;
	left: 279px;
}

#u44594_states
{
	float: left;
	width: 209px;
	height: 29px;
	background: url("../images/u44594_states.png") no-repeat 0px 0px;
}

#u44594:hover #u44594_states
{
	background: url("../images/u44594_states-r.png") no-repeat 0px 0px;
}

#u44595
{
	z-index: 416;
	width: 209px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 1193px;
	left: 664px;
}

#u44595_states
{
	float: left;
	width: 209px;
	height: 29px;
	background: url("../images/u44595_states.png") no-repeat 0px 0px;
}

#u44595:hover #u44595_states
{
	background: url("../images/u44595_states-r.png") no-repeat 0px 0px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

