.version.news8 /* version checker */
{
	color: #00001D;
	background-color: #779C15;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 800px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;/* should not cover content below */
}

#u75146
{
	z-index: 2;
	height: 300px;
	background-color: #FEAB32;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u75146-bw
{
	z-index: 2;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
}

#u74087
{
	z-index: 43;
	width: 1000px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	left: -20px;
	position: relative;
}

#slideshowu74570
{
	z-index: 44;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 100px;
}

#u74584popup
{
	z-index: 45;
}

#u74587
{
	z-index: 46;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74585
{
	z-index: 48;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#slideshowu74633
{
	z-index: 50;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 100px;
}

#u74671popup
{
	z-index: 51;
}

#u74678
{
	z-index: 52;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74682
{
	z-index: 54;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74684
{
	z-index: 56;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74686
{
	z-index: 58;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74676
{
	z-index: 60;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74690
{
	z-index: 62;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74692
{
	z-index: 64;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74672
{
	z-index: 66;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74680
{
	z-index: 68;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74674
{
	z-index: 70;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74688
{
	z-index: 72;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu74741
{
	z-index: 74;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
}

#u74747popup
{
	z-index: 75;
}

#u74750
{
	z-index: 76;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74748
{
	z-index: 78;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu74180
{
	z-index: 80;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
}

#u74206popup
{
	z-index: 81;
}

#u74207
{
	z-index: 82;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74221
{
	z-index: 84;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74225
{
	z-index: 86;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74211
{
	z-index: 88;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74209
{
	z-index: 90;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74213
{
	z-index: 92;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74219
{
	z-index: 94;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74223
{
	z-index: 96;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74227
{
	z-index: 98;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74217
{
	z-index: 100;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74215
{
	z-index: 102;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu74762
{
	z-index: 104;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 200px;
}

#u74772popup
{
	z-index: 105;
}

#u74775
{
	z-index: 106;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74773
{
	z-index: 108;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu74159
{
	z-index: 110;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 200px;
}

#u74169popup
{
	z-index: 111;
}

#u74172
{
	z-index: 112;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74170
{
	z-index: 114;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu74896
{
	z-index: 116;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u74912popup
{
	z-index: 117;
}

#u74913
{
	z-index: 118;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74915
{
	z-index: 120;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu74612
{
	z-index: 122;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	left: 200px;
}

#u74615popup
{
	z-index: 123;
}

#u74618
{
	z-index: 124;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74616
{
	z-index: 126;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu74699
{
	z-index: 128;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
}

#u74704popup
{
	z-index: 129;
}

#u74705
{
	z-index: 130;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74707
{
	z-index: 132;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu74307
{
	z-index: 134;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 400px;
}

#u74322popup
{
	z-index: 135;
}

#u74325
{
	z-index: 136;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74323
{
	z-index: 138;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu74783
{
	z-index: 140;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 400px;
}

#u74791popup
{
	z-index: 141;
}

#u74792
{
	z-index: 142;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74794
{
	z-index: 144;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu74969
{
	z-index: 146;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 300px;
}

#u74982popup
{
	z-index: 147;
}

#u74983
{
	z-index: 148;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74985
{
	z-index: 150;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu74948
{
	z-index: 152;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 300px;
}

#u74950popup
{
	z-index: 153;
}

#u74951
{
	z-index: 154;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74953
{
	z-index: 156;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu74528
{
	z-index: 158;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 500px;
}

#u74538popup
{
	z-index: 159;
}

#u74539
{
	z-index: 160;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74541
{
	z-index: 162;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu74380
{
	z-index: 164;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 500px;
}

#u74393popup
{
	z-index: 165;
}

#u74406
{
	z-index: 166;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74394
{
	z-index: 168;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74402
{
	z-index: 170;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74404
{
	z-index: 172;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74398
{
	z-index: 174;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74410
{
	z-index: 176;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74400
{
	z-index: 178;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74408
{
	z-index: 180;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74412
{
	z-index: 182;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74396
{
	z-index: 184;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu74441
{
	z-index: 186;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	left: 400px;
}

#u74449popup
{
	z-index: 187;
}

#u74450
{
	z-index: 188;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74452
{
	z-index: 190;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu74088
{
	z-index: 192;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	left: 500px;
}

#u74089popup
{
	z-index: 193;
}

#u74102
{
	z-index: 194;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74106
{
	z-index: 196;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74112
{
	z-index: 198;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74100
{
	z-index: 200;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74092
{
	z-index: 202;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74110
{
	z-index: 204;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74104
{
	z-index: 206;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74094
{
	z-index: 208;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74096
{
	z-index: 210;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74108
{
	z-index: 212;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74098
{
	z-index: 214;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74090
{
	z-index: 216;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu74804
{
	z-index: 218;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	left: 300px;
}

#u74818popup
{
	z-index: 219;
}

#u74835
{
	z-index: 220;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74833
{
	z-index: 222;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74823
{
	z-index: 224;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74829
{
	z-index: 226;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74831
{
	z-index: 228;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74841
{
	z-index: 230;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74825
{
	z-index: 232;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74819
{
	z-index: 234;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74827
{
	z-index: 236;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74837
{
	z-index: 238;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74821
{
	z-index: 240;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74839
{
	z-index: 242;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu74462
{
	z-index: 244;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 700px;
}

#u74480popup
{
	z-index: 245;
}

#u74483
{
	z-index: 246;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74495
{
	z-index: 248;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74501
{
	z-index: 250;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74485
{
	z-index: 252;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74493
{
	z-index: 254;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74481
{
	z-index: 256;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74487
{
	z-index: 258;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74489
{
	z-index: 260;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74491
{
	z-index: 262;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74499
{
	z-index: 264;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74497
{
	z-index: 266;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu74359
{
	z-index: 268;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 700px;
}

#u74363popup
{
	z-index: 269;
}

#u74364
{
	z-index: 270;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74366
{
	z-index: 272;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu74591
{
	z-index: 274;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 600px;
}

#u74604popup
{
	z-index: 275;
}

#u74607
{
	z-index: 276;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74605
{
	z-index: 278;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu74990
{
	z-index: 280;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 600px;
}

#u75006popup
{
	z-index: 281;
}

#u75009
{
	z-index: 282;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u75007
{
	z-index: 284;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu75072
{
	z-index: 286;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 800px;
}

#u75117popup
{
	z-index: 287;
}

#u75120
{
	z-index: 288;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u75130
{
	z-index: 290;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u75132
{
	z-index: 292;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u75134
{
	z-index: 294;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u75128
{
	z-index: 296;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u75140
{
	z-index: 298;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u75124
{
	z-index: 300;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u75122
{
	z-index: 302;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u75138
{
	z-index: 304;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u75136
{
	z-index: 306;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u75118
{
	z-index: 308;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u75126
{
	z-index: 310;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu74549
{
	z-index: 312;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 800px;
}

#u74551popup
{
	z-index: 313;
}

#u74554
{
	z-index: 314;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74552
{
	z-index: 316;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu74328
{
	z-index: 318;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	left: 700px;
}

#u74337popup
{
	z-index: 319;
}

#u74340
{
	z-index: 320;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74342
{
	z-index: 322;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74338
{
	z-index: 324;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74344
{
	z-index: 326;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu74246
{
	z-index: 328;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	left: 800px;
}

#u74270popup
{
	z-index: 329;
}

#u74287
{
	z-index: 330;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74281
{
	z-index: 332;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74275
{
	z-index: 334;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74277
{
	z-index: 336;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74285
{
	z-index: 338;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74289
{
	z-index: 340;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74279
{
	z-index: 342;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74271
{
	z-index: 344;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74273
{
	z-index: 346;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74283
{
	z-index: 348;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu75011
{
	z-index: 350;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	left: 600px;
}

#u75029popup
{
	z-index: 351;
}

#u75036
{
	z-index: 352;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u75032
{
	z-index: 354;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u75048
{
	z-index: 356;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u75046
{
	z-index: 358;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u75030
{
	z-index: 360;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u75038
{
	z-index: 362;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u75040
{
	z-index: 364;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u75042
{
	z-index: 366;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u75034
{
	z-index: 368;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u75044
{
	z-index: 370;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu74875
{
	z-index: 372;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 900px;
}

#u74882popup
{
	z-index: 373;
}

#u74885
{
	z-index: 374;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74883
{
	z-index: 376;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu74720
{
	z-index: 378;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 900px;
}

#u74721popup
{
	z-index: 379;
}

#u74724
{
	z-index: 380;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74722
{
	z-index: 382;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#slideshowu74917
{
	z-index: 384;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	left: 900px;
}

#u74584,#u74671,#u74747,#u74206,#u74772,#u74169,#u74912,#u74615,#u74704,#u74322,#u74791,#u74982,#u74950,#u74538,#u74393,#u74449,#u74089,#u74818,#u74480,#u74363,#u74604,#u75006,#u75117,#u74551,#u74337,#u74270,#u75029,#u74882,#u74721,#u74939
{
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: transparent;
}

#u74939popup
{
	z-index: 385;
}

#u74942
{
	z-index: 386;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74946
{
	z-index: 388;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74944
{
	z-index: 390;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74940
{
	z-index: 392;
	width: 100px;
	height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u74082
{
	z-index: 412;
	height: 41px;
	background-color: #F7931E;
}

#u74082:hover
{
	background-color: #F7931E;
	height: 41px;
	min-height: 0px;
	margin: 0px;
}

#u74082-bw
{
	z-index: 412;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 300px;
}

#menuu80274
{
	z-index: 413;
	width: 855px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 300px;
	left: 53px;
}

#u80289
{
	width: 167px;
	min-height: 41px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u80292
{
	width: 167px;
	background-color: #F7931E;
	padding-bottom: 24px;
	position: relative;
}

#u80292:hover
{
	background-color: #F7841E;
	width: 167px;
	min-height: 0px;
	margin: 0px;
}

#u80292:active
{
	background-color: #8C6239;
	width: 167px;
	min-height: 0px;
	margin: 0px;
}

#u80292.MuseMenuActive
{
	background-color: #8C6239;
	width: 167px;
	min-height: 0px;
	margin: 0px;
}

#u80295-4_clip
{
	overflow: hidden;
	width: 140px;
	height: 17px;
	vertical-align: top;
}

#u80275
{
	width: 78px;
	min-height: 41px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 169px;
}

#u80278
{
	width: 78px;
	background-color: #F7931E;
	padding-bottom: 22px;
	position: relative;
}

#u80278:hover
{
	background-color: #F7841E;
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u80278:active
{
	background-color: #8C6239;
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u80278.MuseMenuActive
{
	background-color: #8C6239;
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u80281-4
{
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 13px;
}

#u80281-4_clip
{
	overflow: hidden;
	width: 51px;
	height: 19px;
	vertical-align: top;
}

#u80324
{
	width: 92px;
	min-height: 41px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 249px;
}

#u80327
{
	width: 92px;
	background-color: #F7931E;
	padding-bottom: 24px;
	position: relative;
}

#u80327:hover
{
	background-color: #F7841E;
	width: 92px;
	min-height: 0px;
	margin: 0px;
}

#u80327:active
{
	background-color: #8C6239;
	width: 92px;
	min-height: 0px;
	margin: 0px;
}

#u80327.MuseMenuActive
{
	background-color: #8C6239;
	width: 92px;
	min-height: 0px;
	margin: 0px;
}

#u80330-4_clip
{
	overflow: hidden;
	width: 65px;
	height: 17px;
	vertical-align: top;
}

#u80310
{
	width: 136px;
	min-height: 41px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 343px;
}

#u80311
{
	width: 136px;
	background-color: #F7931E;
	padding-bottom: 23px;
	position: relative;
}

#u80311:hover
{
	background-color: #F7841E;
	width: 136px;
	min-height: 0px;
	margin: 0px;
}

#u80311:active
{
	background-color: #8C6239;
	width: 136px;
	min-height: 0px;
	margin: 0px;
}

#u80311.MuseMenuActive
{
	background-color: #8C6239;
	width: 136px;
	min-height: 0px;
	margin: 0px;
}

#u80313-4
{
	position: relative;
	margin-right: -10000px;
	top: 11px;
	left: 13px;
}

#u80313-4_clip
{
	overflow: hidden;
	width: 109px;
	height: 18px;
	vertical-align: top;
}

#u80282
{
	width: 113px;
	min-height: 41px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 481px;
}

#u80285
{
	width: 113px;
	background-color: #F7931E;
	padding-bottom: 24px;
	position: relative;
}

#u80285:hover
{
	background-color: #F7841E;
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u80285:active
{
	background-color: #8C6239;
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u80285.MuseMenuActive
{
	background-color: #8C6239;
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u80286-4_clip
{
	overflow: hidden;
	width: 86px;
	height: 17px;
	vertical-align: top;
}

#u80296
{
	width: 66px;
	min-height: 41px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 596px;
}

#u80299
{
	width: 66px;
	background-color: #F7931E;
	padding-bottom: 24px;
	position: relative;
}

#u80299:hover
{
	background-color: #F7841E;
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u80299:active
{
	background-color: #8C6239;
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u80299.MuseMenuActive
{
	background-color: #8C6239;
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u80300-4_clip
{
	overflow: hidden;
	width: 39px;
	height: 17px;
	vertical-align: top;
}

#u80331
{
	width: 96px;
	min-height: 41px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 664px;
}

#u80334
{
	width: 96px;
	background-color: #F7931E;
	padding-bottom: 24px;
	position: relative;
}

#u80334:hover
{
	background-color: #F7841E;
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u80334:active
{
	background-color: #8C6239;
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u80335-4_clip
{
	overflow: hidden;
	width: 70px;
	height: 17px;
	vertical-align: top;
}

#u80303
{
	width: 93px;
	min-height: 41px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 762px;
}

#u80304
{
	width: 93px;
	background-color: #F7931E;
	padding-bottom: 24px;
	position: relative;
}

#u80304:hover
{
	background-color: #F7841E;
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u80304:active
{
	background-color: #8C6239;
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u80295-4,#u80330-4,#u80286-4,#u80300-4,#u80335-4,#u80306-4
{
	position: relative;
	margin-right: -10000px;
	top: 12px;
	left: 13px;
}

#u80306-4_clip
{
	overflow: hidden;
	width: 67px;
	height: 17px;
	vertical-align: top;
}

#u80295-4_img,#u80281-4_img,#u80330-4_img,#u80313-4_img,#u80286-4_img,#u80300-4_img,#u80335-4_img,#u80306-4_img
{
	display: block;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.MenuItem /* slideshowFreeStyle */
{
	cursor: pointer;
}

#pu75213
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 41px;
}

#u75213
{
	z-index: 3;
	min-height: 1371.9500000000005px;
	background-color: #FFFFFF;
	padding-bottom: 0px;
}

#u75213_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
	padding-top: 19px;
	padding-bottom: 53px;
}

#u74085-6
{
	z-index: 402;
	left: 120px;
	position: relative;
}

#u75212-4
{
	z-index: 16;
	display: block;
	vertical-align: top;
	left: 289px;
	margin-top: 73px;
	position: relative;
}

#u83534-4
{
	z-index: 408;
	width: 150px;
	min-height: 25px;
	background-color: transparent;
	color: #7F7F7F;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	left: 890px;
	margin-top: 62px;
	position: relative;
}

#pu75147-23
{
	width: 0.01px;
	left: 120px;
	margin-top: 21px;
	position: relative;
}

#u75147-23
{
	z-index: 20;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u74086-4
{
	z-index: 398;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 551px;
	left: 218px;
}

#u75145
{
	z-index: 397;
	width: 300px;
	min-height: 58px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	left: 430px;
	margin-top: 2px;
	position: relative;
}

#pu74083
{
	width: 0.01px;
	left: 389px;
	margin-top: 302px;
	position: relative;
}

#u74083
{
	z-index: 14;
	width: 71px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
}

#u75144-10
{
	z-index: 4;
	position: relative;
	width: 298px;
	margin-right: -10000px;
	left: 84px;
}

#u74085-6_img,#u75144-10_img
{
	display: block;
	vertical-align: top;
}

#u75213-bw
{
	z-index: 3;
	min-height: 1371.9500000000005px;
}

#u75143
{
	z-index: 395;
	height: 29px;
	width: 209px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 751px;
	left: 476px;
	background: url("../images/u75143.png") no-repeat 0px 0px;
}

#u75143:hover
{
	background: url("../images/u75143-r.png") no-repeat 0px 0px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

