{% include header.html %}
    <div class="browser_width mse_pre_init" id="u8776-bw">
     <div id="u8776"><!-- simple frame --></div>
    </div>
    <div class="clearfix colelem" id="pu11805"><!-- group -->
     <div class="browser_width grpelem" id="u11805-bw">
      <div id="u11805"><!-- column -->
       <div class="clearfix" id="u11805_align_to_page">
        <a class="anchor_item colelem" id="inscreva-se"></a>
        <!-- m_editable region-id="editable-static-tag-U8868" template="index.html" data-type="image" data-ice-options="clickable" data-ice-editable="link" -->
        <a class="nonblock nontext clip_frame colelem" id="u8868" href="https://docs.google.com/forms/d/1iW3v93ujCsbuv2XKQ9TfmAGasv1-nIIT3EAKmdKGcgs/viewform" data-muse-uid="U8868" data-muse-type="img_frame"><!-- image --><img class="block" id="u8868_img" src="/images/imagem%20colada%20586x103.jpg" alt="" width="586" height="103" data-muse-src="/images/imagem%20colada%20586x103.jpg"/></a>
        <!-- /m_editable -->
        <a class="nonblock nontext colelem" id="u11801-4" href="https://docs.google.com/forms/d/1iW3v93ujCsbuv2XKQ9TfmAGasv1-nIIT3EAKmdKGcgs/viewform"><!-- rasterized frame --><img id="u11801-4_img" alt="Preencha o formulário para garantir sua participação!" width="460" height="27" src="/images/u11801-4.png"/></a>
       </div>
      </div>
     </div>
     <div class="browser_width grpelem" id="u7975-bw">
      <div id="u7975"><!-- group -->
       <div class="clearfix" id="u7975_align_to_page">
        <a class="anchor_item grpelem" id="video"></a>
        <div class="grpelem" id="u7986"><!-- custom html -->
         <iframe width="640" height="480" src="https://www.youtube-nocookie.com/embed/MhcTETRROBU?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

</div>
       </div>
      </div>
     </div>
     <div class="browser_width grpelem" id="u7971-bw">
      <div id="u7971"><!-- group -->
       <div class="clearfix" id="u7971_align_to_page">
        <a class="anchor_item grpelem" id="noticias"></a>
        <div class="clearfix grpelem" id="u7978"><!-- group -->
         <!-- m_editable region-id="editable-static-tag-U8821" template="index.html" data-type="image" -->
         <div class="clip_frame grpelem" id="u8821" data-muse-uid="U8821" data-muse-type="img_frame"><!-- image -->
          <img class="block" id="u8821_img" src="/images/b3.png" alt="" width="159" height="133" data-muse-src="/images/b3.png"/>
         </div>
         <!-- /m_editable -->
        </div>
        <div class="clearfix grpelem" id="pu7977-5"><!-- column -->
         <img class="colelem" id="u7977-5" alt="NOTÍCIAS
" width="167" height="63" src="/images/u7977-5.png"/><!-- rasterized frame -->
         <div class="clearfix colelem" id="u7979"><!-- group -->
          <!-- m_editable region-id="editable-static-tag-U8830" template="index.html" data-type="image" -->
          <div class="clip_frame grpelem" id="u8830" data-muse-uid="U8830" data-muse-type="img_frame"><!-- image -->
           <img class="block" id="u8830_img" src="/images/b3.png" alt="" width="159" height="133" data-muse-src="/images/b3.png"/>
          </div>
          <!-- /m_editable -->
         </div>
        </div>
        <div class="grpelem" id="u8938"><!-- simple frame --></div>
       </div>
      </div>
     </div>
     <div class="browser_width grpelem" id="u8834-bw">
      <div id="u8834"><!-- simple frame --></div>
     </div>
     <div class="browser_width grpelem" id="u8835-bw">
      <div id="u8835"><!-- simple frame --></div>
     </div>
     <div class="grpelem" id="u8836"><!-- simple frame --></div>
     <div class="grpelem" id="u8837"><!-- simple frame --></div>
     <div class="grpelem" id="u8874"><!-- simple frame --></div>
     <div class="grpelem" id="u8937"><!-- simple frame --></div>
     <div class="clearfix grpelem" id="u7980"><!-- group -->
      <!-- m_editable region-id="editable-static-tag-U8827" template="index.html" data-type="image" -->
      <div class="clip_frame grpelem" id="u8827" data-muse-uid="U8827" data-muse-type="img_frame"><!-- image -->
       <img class="block" id="u8827_img" src="/images/b3.png" alt="" width="159" height="133" data-muse-src="/images/b3.png"/>
      </div>
      <!-- /m_editable -->
     </div>
    </div>
    <div class="clearfix colelem" id="pu7972"><!-- group -->
     <div class="browser_width grpelem" id="u7972-bw">
      <div id="u7972"><!-- column -->
       <div class="clearfix" id="u7972_align_to_page">
        <div class="position_content" id="u7972_position_content">
         <a class="anchor_item colelem" id="convidados"></a>
         <img class="colelem" id="u8833-5" alt="CONVIDADOS
" width="243" height="60" src="/images/u8833-5.png"/><!-- rasterized frame -->
         <img class="ose_pre_init colelem" id="u8838-5" alt="BREVE
" width="511" height="137" src="/images/u8838-5.png"/><!-- rasterized frame -->
        </div>
       </div>
      </div>
     </div>
     <div class="browser_width grpelem" id="u8702-bw">
      <div id="u8702"><!-- column -->
       <div class="clearfix" id="u8702_align_to_page">
        <div class="position_content" id="u8702_position_content">
         <a class="anchor_item colelem" id="mapa"></a>
         <img class="colelem" id="u8845-5" alt="MAPA DO LOCAL
" width="288" height="60" src="/images/u8845-5.png"/><!-- rasterized frame -->
         <div class="colelem" id="u8877"><!-- custom html -->
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d807.0857267082727!2d-47.88442654612139!3d-15.795074465677565!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xe677b546b178a61c!2sCentro+Comercial+Boulevard!5e0!3m2!1spt-BR!2sbr!4v1453308644190" width="800" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
         <div class="clearfix colelem" id="pu8931"><!-- group -->
          <!-- m_editable region-id="editable-static-tag-U8931" template="index.html" data-type="image" data-ice-options="clickable" data-ice-editable="link" -->
          <a class="nonblock nontext clip_frame grpelem" id="u8931" href="https://redesustentabilidade.org.br" data-muse-uid="U8931" data-muse-type="img_frame"><!-- image --><img class="block" id="u8931_img" src="/images/rede-rodape2.png" alt="" width="71" height="41" data-muse-src="/images/rede-rodape2.png"/></a>
          <!-- /m_editable -->
          <a class="nonblock nontext grpelem" id="u8847-10" href="https://redesustentabilidade.org.br"><!-- rasterized frame --><img id="u8847-10_img" alt="CONTATO@REDESUSTENTABILIDADE.ORG.BR Copyright © 2016 REDE SUSTENTABILIDADE
CNPJ : 17 981 188/0001-07
" width="298" height="70" src="/images/u8847-10.png"/></a>
         </div>
        </div>
       </div>
      </div>
     </div>
     <img class="ose_pre_init grpelem" id="u8924-6" alt="
BREVE
" width="804" height="308" src="/images/u8924-6.png"/><!-- rasterized frame -->
    </div>
{% include footer.html %}